.card-container{
    position: fixed;
    right: 30px;
    top: 79px;
    width: 15%;
    box-shadow: 0px 0px 10px #888;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.header h4{
    margin:12px 0 8px;
}

.header p {
    margin:0 0 12px;
}

.header p span{
    color: green;
}

.image-container{
    width: 80px;
    height: 80px;
    margin-top: 18px;
    border-radius: 50%;
    background-color: #c6cad6;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; 
}
/*
.devider-line{
    margin-bottom: -5%;
}*/

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20%;
}

.action-button{
    margin: 5%;
    width: 35%;
    font-family: "Century Gothic";
    font-size: small;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#my-profile-button{
    background-color: orange;
}

#sign-out-button{
    background-color: orange;
}

@media screen and (max-width: 1366px){
    .card-container{
        width: 25vw;
    }
}