.article-page-container{
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-page-upper{
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article-page-upper-wrap{
    height: 100%;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
}

.picture-slide-container{
    height: 85%;
    width: 45%;
    max-width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-slide{
    width: 100%;
    height: 100%;
}

.vertical-line {
    height: 80%;
    background-color: gray;
    width: 1px;
}

.article-info-container{
    height: 75%;
    width: 45%;
    min-width: 38vw;
    max-width: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-image: linear-gradient(to top, transparent 10%, rgba(0, 0, 0, 0.5) 150%);
}

.article-info-title{
    width: 80%;
    height: 30%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.article-info-title p{
    font-size: xx-large;
    font-family: "Century Gothic";
    text-align: center;
}

.info-container{
    width: 95%;
    /* max-width: 95%; */
    /* min-width: 15em; */
    height: 20%;
    min-height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info-subcontainer{
    width: 50%;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-subcontainer-right{
    justify-content: flex-end;
}

.info-image-container{
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;
    border-radius: 50%;
    background-color: #c6cad6;
    overflow: hidden;
}

.info-image-container:hover{
    cursor: pointer;
}

.info-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; 
}

.info-label-container{
    height: 100%; 
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info-label-container-right{
    align-items: flex-end;
    margin-right: 2%;
    margin-left: 0%;
}

.info-value{
    font-size: x-large;
    font-family: "Century Gothic";
    margin: 0%;
}

.article-info-user-name:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10%;
}

.info-label{
    font-size: medium;
    font-family: "Century Gothic";
    margin: 0%;
}

.article-info-label:hover{
    cursor: pointer;
}

.label-icon-container{
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.label-icon{    
    color: black;
    font-size: x-large;
}

.current-price-icon{
    color:green;
}

.article-page-downer{
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.description-container{
    /* width: 87%; */
    width: 85vw;
}

.description-icon{
    color: black;
    font-size: large;
}

.description-title{
    font-family: "Century Gothic";
    font-size: large;
}

.description-text{
    font-family: "Century Gothic";
    font-size: medium;
    white-space: pre-line;
}

.biding-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 60%;    
    min-height: 60%;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.enroll-button{
    width: 30%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: orange;
    align-self: center;
    box-shadow: 0px 1px 5px black;
    transition: box-shadow 0.5s ease, width 0.5s ease;
}

.enroll-button:hover{
    cursor: pointer;
    box-shadow: 0px 5px 15px black;
    width: 30.5%;
}

.enroll-button-content-container{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enroll-button-label{
    font-family: "Century Gothic";
    font-size: x-large;
}

.fee-label{
    font-family: "Century Gothic";
    font-size: large;
}

.enroll-button-content{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bid-list-and-options-container{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bid-list-container{
    width: 45%;
    min-width: 45%;
    max-width: 45%;
    height: 80%;
    min-height: 15em;
    max-height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    overflow: hidden;
}

.bid-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 15em;
    max-height: 15em;
    border-radius: 10px;
    overflow: auto;
}

.bid-list::-webkit-scrollbar {
    width: 5px;
    overflow-y: scroll;
    background: transparent;
}

.bid-list::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 60px;
}

.bid-item{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    background-color: transparent;
}

.bid-item:hover{
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 1) -40%, rgba(0, 0, 0, 0.4) 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 1) 140%);
    .last-bid{
        background-image: transparent;
    }
}

.last-bid{
    background-image: linear-gradient(to bottom, transparent 30%, orange 125%);
}

.bid-item-user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    max-width: 50%;
    height: 100%;
}

.bid-item-user-profile-picture{
    width: 25%;
    max-width: 5em;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bid-item-user-profile-picture:hover{
    cursor: pointer;
}

.picture{
    width: 90%;
    max-width: 3em;
    min-width: 3em;
    height: 100%;
    max-height: 3em;
    min-height: 3em;
    border-radius: 50%;
    object-fit: cover;
}

.bid-item-user-profile-name{
    font-family: "Century Gothic";
    font-size: large;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bid-item-user-profile-name:hover{
    cursor: pointer;
}

.bid-item-amount{
    font-family: "Century Gothic";
    font-size: large;
    width: 15%;
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#no-bids-label{
    font-family: "Century Gothic";
    font-size: large;
    color: gray;
}

.bid-options-container{
    width: 40%;
    min-width: 37em;
    max-width: 40%;    
    height: 80%;
    min-height: 15em;
    max-height: 15em;    
}

.bid-options-container-active{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, transparent 5%, rgba(0, 0, 0, 0.5) 150%);
    width: 45%;
    min-width: 45%;
    max-width: 45%;
}

.bid-options{
    width: 95%;
    display: flex;    
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;    
}

.bid-amount-input{
    width: 40%;
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;   
}

.form-field {
    width: 95%;
    height: 3.1em;
}

::ng-deep .mat-mdc-form-field-bottom-align{
    display: none;
}

.bid-button{
    width: 95%;
    height: 20%;
    max-height: 3em;
    border-radius: 10px;
    border-style: solid;
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    transition: background-color 0.5s ease, border-color 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bid-button p{
    font-family: "Century Gothic";
    font-size: x-large;
    color: black;
    transition: color 0.5s ease;
}

.bid-button:hover{
    cursor: pointer;
    background-color: white;
    border-color: transparent;
    p{
        color:orange;
    }
}

.bid-button-active{
    background-color: orange;
    border-color: transparent;
}

@media screen and (max-width: 1366px) {
    .article-info-container{
        height: 95%;
    }

    .article-info-title{
        height: 25%;
    }

    .info-value{
        font-size: larger;
    }

    .info-label{
        font-size: smaller;
    }

    .info-image-container{
        width: 2em;
        height: 2em;
        min-width: 2em;
        min-height: 2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}