<mat-card class="card-container">
    <mat-card-title class="login-title" >
        <p>Log into your account</p>
    </mat-card-title>
    <mat-divider class="devider-line"></mat-divider>
    <div class="login-form-container">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [(ngModel)]="email" (change)="checkEmail()" placeholder={{emailExample}} pattern="{{emailPattern}}" #emailInput="ngModel" required>
            <mat-error *ngIf="emailFieldEmptyError">{{fieldEmptyError_Label}}</mat-error>
            <mat-error *ngIf="emailExistenceError && emailInput.touched && !emailFieldEmptyError">{{emailExistenceError_Label}}</mat-error>
            <mat-error *ngIf="emailInput.touched && emailInput.invalid">{{emailErrorMessage_Invalid}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="password" (input)="checkPassword()" [type]="passwordHide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
              <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFieldEmptyError">{{fieldEmptyError_Label}}</mat-error>
            <mat-error *ngIf="passwordWrongError && !passwordFieldEmptyError">{{passwordWrongError_Label}}</mat-error>
        </mat-form-field>
        <div *ngIf="loginError || passwordWrongError">
            <p id="loginErrorLabel">You must enter your credentials in order to log in.</p>
        </div>
        <div mat-raised-button class="submit-button" id="login-button" color="primary" (click)="logIn()">
            <i class="fa-solid fa-right-to-bracket"></i>
            <p>Log in</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="register-div">
        <p>Don't have an account?</p>
        <div mat-raised-button class="submit-button" id="register-button" color="primary" routerLink="/register">
            <i class="fa-solid fa-id-card button-icon"></i>
            <p>Register</p>            
        </div>
    </div>
</mat-card>