.register-page-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/login-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.register-page-container h4 {
    margin: 0;
}


.register-page-container .step-button {
    display: block;
    padding: 20px;
    color: rgb(0 0 0);
    background-color: rgba(255, 166, 0, 0.671);
    margin: 0px auto 0px;
    min-width: 150px;
    width: 100%;
    height: 55px;
    border-radius: 5px 5px 0px 0px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(200 200 200);
    cursor: pointer;
    line-height: 0px;
    transition: border-color 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
}

.register-page-container .step-button:hover{
    background-color: rgba(255, 166, 0, 0.5);
}

.register-page-container .step-button .button-content {
    display: block;

}

.register-page-container .step-button .button-icon{
    margin-right: 10px;
}

.register-page-container .step-button .button-content span {
    min-width: 50px;
}

.register-card-wrapper {
    display: block;
    width: 500px;
    max-width: 90%;
    padding: 32px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius:5px;
    background:#fff;
}


.register-card-wrapper mat-form-field {
    width: 100%;
    position: relative;  
    margin-bottom: 24px;
}

.register-card-wrapper::ng-deep .mat-vertical-content {
    padding:0 24px;
    margin:24px 0;
    border-left: 1px solid #f1f1f1;
}

.register-card-wrapper::ng-deep .mat-vertical-content .picture-step {
    margin-bottom:40px;
}

.register-card-wrapper::ng-deep .mat-vertical-content .picture-step .upload-picture-button {
    width: 35%;
    border:2px solid rgba(255, 166, 0, 0.671);
    background-color: transparent;
}

.register-card-wrapper::ng-deep .mat-vertical-content .picture-step .upload-picture-button:hover {
    background-color: rgba(255, 166, 0, 0.671);
}

.register-card-wrapper::ng-deep .mat-mdc-form-field-subscript-wrapper {
    position: absolute;
    bottom: -20px;
    left: 0;
}
.register-card-wrapper::ng-deep .mat-vertical-content-container {
    margin-left:24px;
}


.register-card-wrapper::ng-deep .mat-vertical-content-container:before {
    display: none !important;
}

.register-card-wrapper::ng-deep .profile-picture-div {
    position: relative;
    display: inline-block;
    margin-bottom:24px;
    padding: 12px;
}

.register-card-wrapper::ng-deep .profile-picture-wrapper {
    border-radius: 50%;
    overflow:hidden;
    display: inline-block;
    line-height: 0;  
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    height: 100px;
    width:100px;
    position: relative;
    z-index: 0;
}

.register-card-wrapper::ng-deep .profile-picture {
    height: 100px;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.register-card-wrapper::ng-deep .remove-picture-button {
    position: absolute;
    bottom: 8px;
    left:8px;
    z-index: 1;
}



















/*.main-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Century Gothic";
    width: 100vw;
    height: 100%;
    min-height: 95vh;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #e1a940, #e1a940b3, transparent);
}

.header-text {
    color: black;
    margin: 4%;
    font-size: 150%;
    letter-spacing: 5px;
}

.stepper {
    background-color: transparent;
    width: 50%;
}

.step-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.field-container {
    display: flex;
    flex-direction: row;
}

.step-form-container.shorter {
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 30%;
}

.info-field {
    flex: 1 0 40%;
    max-width: 30%;
    margin-right: 20px;
}

.form-field {
    flex-grow: 1;
}

.side-icon {
    margin-top: 15px;
    margin-right: 5px;
    color: black;
}

.picture-step {
    align-items: center;
}

.profile-picture-div {
    width: 18vh;
    height: 18vh;
    max-width: 20%;
    max-height: 20%;

    background-size: 100% 100%;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    object-fit: cover;
}

.badge {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 41%;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    border: none;
}

.badge:hover {
    background-color: rgba(0, 0, 0, 1);
}

.badge-icon {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.badge:hover .badge-icon {
    color: rgba(255, 255, 255, 1);
}

.step-form-container-register {
    display: flex;
    flex-direction: row;
}

.register-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    background-color: transparent;
    color: black;
    font-size: 1.2em;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #9a9da7;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.register-button:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: #0080009c;
}

.warning-message-input {
    color: #ffa500;
}

.devider-line {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: black;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0px;
}

.step-button-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.step-button {
    color: orange;
    border-color: #ffa600ab;
}

#first-step-button {
    position: relative;
    left: 7%;
}

.upload-picture-button {
    background-color: transparent;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #9a9da7;
    height: 2.5em;
    font-size: 1em;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.upload-picture-button:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: orange;
}

.button-icon {
    color: black;
}

::ng-deep .mat-step-header .mat-step-icon {
    font-family: "Century Gothic";
    background-color: orange;
    color: black;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    font-family: "Century Gothic";
    background-color: orange;
}

::ng-deep .mat-mdc-form-field-hint{
    color: #6b6d75 !important;
    font-family: "Century Gothic" !important;
}*/