.list-article-item-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;

    border-radius: 10px;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;

    position: relative;
}

/* .list-article-item-info:hover .list-article-item-container-overlay{
    
    cursor: pointer;
    background-image: linear-gradient(to right, transparent 30%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.9) 110%); 
    background-image: linear-gradient(to right, transparent 30%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.4) 45%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.9) 105%);
    
    transform: translateX(-50%);
}

.list-article-item-container-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;

    background-image: linear-gradient(to right, transparent 95%, rgba(0, 0, 0, 0.5) 110%);
    transition: background-image 1s linear; 

    transform: translateX(50%);
    transition: .5s ease;
} */

.list-article-item-pictures{
    width: 30%;
}

.list-article-item-info{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.list-article-item-info:hover{
    cursor: pointer;
}

.article-title-label{
    font-family: "Century Gothic";
    font-size: x-large;
}

.article-description-label{
    font-family: "Century Gothic";
    font-size: medium;
    width: 95%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;

    white-space: pre-line;
    color: gray;
}

.article-price-label{
    font-family: "Century Gothic";
    font-size: large;
}