.article-page-container{
    width: 100%;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 10px;
    max-width: 1200px;
    margin: 40px auto;
    padding-bottom: 24px;
}

.article-page-upper{
    width: 100%;
}

.article-page-upper-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.picture-slide-container{
    width:66.6667%;
    box-sizing: border-box;
    padding: 24px;
}

.picture-slide{
    width: 100%;
    height: 100%;
}

.article-info-container{
    border-radius: 10px;
    background-color: #fff;
    width: 33.3334%;
    box-sizing: border-box;
    padding: 24px;
}

.article-info-title{
    padding:24px;
    background-color: #fff;
    border-radius: 10px;
    margin:0;
}

.info-container{
    width:100%;
    max-width: 600px;
}

.info-subcontainer{
    width: 100%;
    height: 100%;
    margin-bottom:12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-subcontainer-right{
    justify-content: flex-end;
}

.info-image-container{
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;
    border-radius: 50%;
    background-color: #c6cad6;
    overflow: hidden;
}

.info-image-container:hover{
    cursor: pointer;
}

.info-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; 
}

.info-label-container{
    height: 100%; 
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info-label-container-right{
    align-items: flex-end;
    margin-right: 2%;
    margin-left: 0%;
}

.info-value{
    font-size: larger;
    font-weight: bold;
    font-family: "Century Gothic";
    margin: 0%;
}

.article-info-user-name:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10%;
}

.info-label{
    font-size: medium;
    font-family: "Century Gothic";
    margin: 0%;
}

.article-info-label:hover{
    cursor: pointer;
}

.label-icon-container{
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.label-icon{    
    color: black;
    font-size: x-large;
}

.current-price-icon{
    color:green;
}

.article-page-downer{
    width: 100%;
}

.description-container{
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

.description-container::ng-deep .mat-expansion-panel {
    box-shadow: none;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}


.description-container::ng-deep .mat-expansion-indicator {
    margin-top: -4px;
}

.description-icon{
    color: black;
}

.description-title{
    font-family: "Roboto";
    font-size: large;
    display: inline-block;
    padding:0 12px;
}

.description-text{
    font-family: "Roboto";
    font-size: medium;
    white-space: pre-line;
}


.enroll-button-wrapper {
    text-align: center;
    width: 100%;
}

.enroll-button-new {
    display: inline-block;
    padding: 20px;
    color: rgb(0 0 0);
    background-color: rgba(255, 166, 0, 0.671);
    margin: 24px 0 24px 0;
    max-width: 280px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(200 200 200);
    cursor: pointer;
    line-height: 0px;
    transition: border-color 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
    font-size: large;
}

.enroll-button-new:hover {
    background-color: rgba(255, 166, 0, 0.5);
}

.enroll-button-new .label-icon {
    font-size: medium;
    padding: 0 6px;
    display: inline-block;
}

.enroll-button-content-container{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fee-label{
    font-size: large;
}

.enroll-button-content{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bid-list-and-options-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 12px 0;
}

.bid-list-container{
    width: 50%;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px;
    overflow: hidden;
    margin: 12px 12px 0;
    box-sizing: border-box;
}

.bid-list{
    max-height: 214px;
    overflow: auto;
    padding: 0 6px 0 0;
}

.bid-list::-webkit-scrollbar {
    width: 5px;
    overflow-y: scroll;
    background: transparent;
}

.bid-list::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 60px;
}

.bid-item{
    cursor: pointer;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid rgba(0,0,0,0.2);
    background-color: transparent;
    box-sizing: border-box;
}

.bid-item:last-child {
    border: 0 none;
}

.bid-item:hover{
    background-color: rgba(0,0,0,0.1);
}

.last-bid{
    background-color: rgba(255, 166, 0, 0.671);
}

.bid-item-user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bid-item-user-profile-picture:hover{
    cursor: pointer;
}

.picture{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    padding:6px;
    display: block;
}

.bid-item-user-profile-name{
    font-family: "Century Gothic";
    font-size: large;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bid-item-user-profile-name:hover{
    cursor: pointer;
}

.bid-item-amount{
    display: block;
    padding: 6px;
}

#no-bids-label{
    font-size: large;
    color: gray;
    text-align: center;
    transform: translate(0, 75px);
}

.bid-options-container-active{
    width: 50%;
    margin: 12px 12px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 24px;
    box-sizing: border-box;
}

.bid-options{
    width: 100%;  
}

.bid-amount-input{
    width: 100%;
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-bottom: 24px;   
}

.form-field {
    width: 95%;
    height: 3.1em;
}

::ng-deep .mat-mdc-form-field-bottom-align{
    display: none;
}

.bid-button{
    display: block;
    padding: 20px;
    color: rgb(0 0 0);
    background-color: rgba(255, 166, 0, 0.671);
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(200 200 200);
    cursor: pointer;
    line-height: 0px;
    transition: border-color 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
    font-size: large;
}


.bid-button:hover{
    background-color: rgba(255, 166, 0, 0.5);
}


@media screen and (max-width: 992px) {
    .article-page-upper-wrap{
        display: block;
    }

    .bid-list-and-options-container {
        display: block;
        padding:0 24px 0.1px 24px;
    }

    .bid-options-container-active,
    .bid-list-container {
        width: 100%;
        margin:24px 0 0 0;
    }

    .picture-slide-container,
    .article-info-container {
        width: 100%;
    }

    #no-bids-label{
        transform: translate(0,0);
    }
}  