<div class="dashboard-container">
    <div class="dashboard-subcontainer">
        <mat-tab-group color="primary" preserveContent class="tab-section">
            <mat-tab class="tab-body">
                <ng-template mat-tab-label class="tab-header">
                    <i class="fa-solid fa-user tab-header-icon"></i>
                    <p>Users</p>
                </ng-template>
                <div class="tab-list-container">
                    <mat-paginator #paginator class="paginator" (page)="handleUserPaginatorEvent($event)"
                        [length]="numberOfUsers" [pageSize]="userPaginatorPageSize" [showFirstLastButtons]="true"
                        [pageSizeOptions]="pageSizeOptions" [hidePageSize]="false" [pageIndex]="userPaginatorPageIndex">
                    </mat-paginator>
                    <div class="tab-list-item" *ngFor="let user of userList" (click)="viewUser(user)">
                        <div class="tab-list-item-profile-picture">
                            <img class="profile-picture" src={{user.profilePicturePath}} />
                        </div>
                        <div class="tab-list-item-info-container">
                            <div class="tab-list-item-info">
                                <p>{{user.firstName}} {{user.lastName}}</p>
                            </div>
                            <div class="vertical-divider-line">&nbsp;</div>
                            <div class="tab-list-item-info">
                                <p>{{user.email}}</p>
                            </div>
                            <div class="vertical-divider-line">&nbsp;</div>
                            <div class="tab-list-item-info">
                                <p>{{user.gender}}</p>
                            </div>
                            <div class="vertical-divider-line">&nbsp;</div>
                            <div class="tab-list-item-info">
                                <p>{{user.birthDate.day}}:{{user.birthDate.month}}:{{user.birthDate.year}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label class="tab-header">
                    <i class="fa-solid fa-gavel tab-header-icon"></i>
                    <p>Articles</p>
                </ng-template>
                <div class="tab-list-container">
                    <div class="search-section">
                        <div class="search-container">
                            <div class="search-input-container">
                                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                <input class="search-input" type="text" [(ngModel)]="searchQuery"
                                    (input)="onSearchQueryChange()">
                            </div>
                            <div class="search-cancel-icon" (click)="cancelSearch()">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <mat-paginator #paginator class="paginator" (page)="handleArticlePaginatorEvent($event)"
                        [length]="numberOfArticles" [pageSize]="articlePaginatorPageSize" [showFirstLastButtons]="true"
                        [pageSizeOptions]="pageSizeOptions" [hidePageSize]="false"
                        [pageIndex]="articlePaginatorPageIndex">
                    </mat-paginator>
                    <div class="tab-list-item article-item" *ngFor="let article of articleList" (click)="viewArticle(article.id)">
                        <div class="tab-list-item-article-picture">
                            <img class="article-picture" src={{article.pictures[0]}} />
                        </div>
                        <div class="tab-list-item-info-container">
                            <div class="article-info-section">
                                <p class="article-title">{{article.title}}</p>
                                <p class="article-info" *ngIf="articlePendingOrExpired(article.id)">Price: ${{article.startingPrice}}</p>
                                <p class="article-info" *ngIf="!articlePendingOrExpired(article.id)">Price: ${{article.soldPrice}}</p>
                            </div>
                            <div class="vertical-divider-line article-divider-line">&nbsp;</div>
                            <div class="article-info-section">
                                <p class="article-info">Status: {{getArticleStatusLabel(article.id)}}</p>
                                <div class="article-button-section">
                                    <div class="article-button" *ngIf="articlePendingOrExpired(article.id)" (click)="removeArticle(article.id, $event)">
                                        <i class="fa-solid fa-trash article-button-icon"></i>
                                    </div>
                                    <div class="article-button" *ngIf="articleExpired(article.id)" (click)="republishArticle(article.id, $event)">
                                        <i class="fa-solid fa-calendar-plus article-button-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>