.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    min-height: 90vh;
    width: 100vw;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    /* height: 40%; */
    width: 100%;
    padding-bottom: 2%;
    background: linear-gradient(to bottom, #e1a940, #e1a940b3, transparent);
}

.profile-header-container{
    width: 26vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.profile-picture-card {
    height: 100%;
    width: 60%;
    border-radius: 0% 0% 5% 5%;
    /* max-width: 20%; */
    max-height: 100%;
    box-shadow: 0px 2px 5px black;
    background-color: white;
    margin-right: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-picture-container {
    position: relative;
    border-radius: 50%;
    /* overflow: hidden; */
    width: 15em;
    height: 15em;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.3) 5%, transparent 50%, rgba(0, 0, 0, 0.3) 95%);
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.profile-picture-button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.5s ease;
}

.profile-picture-button:hover {
    background-color: rgba(0, 0, 0, 1);
}

.profile-picture-button .camera-icon {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.profile-picture-button:hover .camera-icon {
    color: rgba(255, 255, 255, 1);
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2%;
    margin-top: 1%;
}

.info-field-container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
}

.info-icon-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15%;
    width: 2em;
}

.info-icon {
    font-size: 1.5em;
}

.info-field {
    display: flex;
    flex-direction: column;
}

.info-field-label{
    position: relative;
    top: -15%;
}

.info-field p {
    font-family: "Century Gothic";
    font-size: small;
    margin: 0.5em;
}

.value-text {
    font-weight: bolder;
    font-size: large;
}

.money-label {
    color: green;
    position: relative;
    top: 3px;
}

#username {
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 1.8em;
    height: 0%;
}

.divider-line {
    width: 100%;
    background-color: #c6cad600;
    margin: 2%;
    margin-bottom: 0%;
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.option{
    width: 26vw;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.option:hover {
    background-color: orange;
    cursor: pointer;
    color: white;
    .button-icon{
        color: white;
    }
}

.option-add-money:hover{
    background-color: green;
    #money-button-icon{
        color: white;
    } 
}

.option-new-article:hover{
    #article-button-icon{
        color: white;
    }
}

.option-info-container {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    height: 100%;
}

.option-info-icon {
    display: flex;
    justify-content: center;
    width: 2em;
    height: 100%;
}

.option-icon {
    font-size: 1.7em;
    position: relative;
    top: 20%;
}

.option-info-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 15em;
    margin-left: 2%;
}

.option-info-label p {
    font-family: "Century Gothic";
    font-size: 0.9em;
}

.option-button-icon {
    display: flex;
    justify-content: center;
    width: 2em;
    position: relative;
    top: 31%;
    height: 50%;
    right: 1%;
}

.button-icon {
    font-size: 1em;
    color: black;
    transition: color 0.5s ease;
}

#article-button-icon {
    color: orange;
    transition: color 0.5s ease;
}

#money-button-icon {
    color: green;
    transition: color 0.5s ease;
}

/* --------------------------------------- */

.articles-view-container{
    width: 100%;
    height: 100%;
    /* min-height: 100%; */
    min-height: 90%;
}

.tab-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic";
    color: black;
}

.tab-header p{
    font-size: small;
}

.tab-header-icon{
    font-size: x-large;
    margin-right: 10%;
}

::ng-deep .mat-mdc-tab-body-wrapper{
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.no-items-box{
    margin: 2%;
    color: #4f5156;
    font-family: "Century Gothic";
    text-align: center;
}

:host ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
    flex-grow: 1;    
}

:host ::ng-deep .mat-mdc-tab-body-wrapper{
    overflow: visible;
}

@media screen and (max-width: 1366px) {
    .profile-picture-container {
        width: 13em;
        height: 13em;
    }

    .profile-header-container{
        width: 33vw;
    }

    .option{
        width: 33vw;
    }
}