::ng-deep .info_snackbar {
    /* --mdc-snackbar-container-color: #ffa500; */
    --mdc-snackbar-container-color: #34b66b;    
    margin-right: 20px;
}

::ng-deep .error_snackbar {
    --mdc-snackbar-container-color: #ed7425;
    margin-right: 20px;
}

.snackbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.5em;
}

.snackbar-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.snackbar-alert-icon{
    color:black;
    font-size: x-large;
    margin-right: 0.5em;
}

.snackbar-text{
    font-size: medium;
    font-family: "Century Gothic";
    color: black;
    white-space: nowrap; 
}

.snackbar-button{
    margin-left: 2em;    
    margin-right: -1em;
}

.snackbar-button:hover{
    cursor: pointer;
}