* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-toolbar {
    background-color: #F39C12;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 8;
}

.app-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-title {
    letter-spacing: .2rem;
    font-size: larger;
    font-family: "Century Gothic";
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
    color: black;
    width: 5em;
}

.app-title:hover {
    color: #c6cad6;
    cursor: pointer;
}

.menu-icon-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-icon-button {
    width: 48px;
    height: 48px;
}

.menu-icon {
    color: black;
}

.menu-icon:hover {
    color: #c6cad6;
}

 /*.right-toolbar-element-empty{
    width: 2.5%;
    height: 64px;
    width: 64px; 
}*/

.right-toolbar-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notification-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.notification-icon{
    color: black;
    font-size: x-large;
    transition: color 0.5s ease;
}

.notification-icon:hover{
    cursor: pointer;
    color: white;
}

.notification-indicator{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-size: small;
}

.sidenav-container {
    height: calc(100% - 64px);
}

.sidenav {
    background-color: #ffa600;
    width: 20%;
    min-width:280px;
}

::ng-deep .mat-mdc-list-item-unscoped-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.sidenav-list-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidenav-list-option-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3em;
    margin-left: 10%;
    min-width: 90%;
}

.sidenav-list-option-icon{
    color: black;
    font-size: large;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav-list-option-title{
    text-align: start;
    font-family: "Century Gothic";
    font-weight: bolder;
    font-style: italic;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.mat-mdc-list-item-unscoped-content {
    color: white;
}

.content-container {
    background-color: #DADADA;

    width: 100%;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/

    position: relative;

    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap {
   /* scroll-snap-align: start;*/
    width: 100%;
    padding:0 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer{
    background-color: #F39C12;
    color: #263238;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    padding: 32px 24px 12px 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 3px solid #263238;

}

.footer-content {
    text-align: center;
}

.footer-content > * {
    display: inline-block;
    width: 100%;
    margin-bottom: 18px;
}

.footer-content > *:last-child {
    margin-bottom: 0;
}

.footer-copyright {
    font-size: 12px;
    line-height: 1.3;
    display: inline-block;
    width: 100%;
}

.footer-content .author-container {
    width: 33.3334%;
    padding:0 5px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}

.footer-content .author-label {
    font-size: 14px;
    line-height: 1.3;
}

.footer-content .author-name {
    font-size: 20px;
    display: inline-block;
    width:100%;
    line-height: 1.3;
    font-weight: 600;
}


.footer-content .elfak-logo-container {
    width:80px;
    display: inline-block;
}

.footer-content .elfak-logo-container img {
    display: block;
    width: 100%;
}


@media screen and (max-width: 600px) {
    
    .footer-content .author-container {
        width: 100%;
        margin-bottom:18px;
    }
    
    .footer-content .author-container:last-child {
        margin-bottom:0px;
    }
}

.scroll-to-top-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa500;
    box-shadow: 0px 0px 5px black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    opacity: 0.7;
    transition: opacity 0.5s ease;

    i{
        color: black;
    }
}

.scroll-to-top-button:hover{
    cursor: pointer;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
    overflow-y: scroll;
    background: #c6cad6;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 60px;
}

@media screen and (max-width: 1366px) {

    .menu-icon-button-container{
        width: 5.5%;
    }

    .notification-indicator{
        right: 5px;
    }
}